@model Dominio.EntidadesNegocio.Vacuna

@{
    ViewBag.H1 = "Crear Vacuna";
    ViewBag.Title = "Crear Vacuna";
}

<main>
    <small>Dashboard / <em>Crear Vacuna <p style="color:red;">@ViewBag.mensaje</p></em></small>
    <div class="FormEmpleados">
        <form method="post" action="/Vacunas/alta" autocomplete="on">
            <div class="infoPersonal">
                <label for="nombre"></label>
                <input type="text" name="nombre" placeholder="Nombre Usuario (*)" required />
                <input type="number" name="cantidadDosis" placeholder="Cantidad dosis (*)" required />
                <input type="number" name="lapsoDiasDosis" placeholder="Días entre dosis (*)" required />
                <input type="number" name="produccionAnual" placeholder="Producción anual (*)" required />


                <select name="emergencia">
                    <option value="">Indique si es de emergencia (*)</option>
                    <option value="1">Si</option>
                    <option value="0">No</option>
                </select>

                <select name="tipo">
                    <option value="">Seleccione un tipo de Usuario (*)</option>
                </select>
                <select name="laboratorio">
                    <option value="">Seleccione el/los laboratorios (*)</option>
                    @*@foreach (Laboratorio item in laboratorios)
                        {
                            <option value="@item.Rut">@item.Nombre"</option>
                        }*@
                </select>
            </div>
            <div class="formInfo">
                <fieldset>
                    <legend>Mínima edad (*)</legend>
                    <input type="number" name="minEdad" class="ajustarAnchoInput" min="18" max="100" required />
                </fieldset>
                <fieldset>
                    <legend>Máxima edad (*)</legend>
                    <input type="number" name="maxEdad" class="ajustarAnchoInput" min="18" max="100" required />
                </fieldset>
                <fieldset>
                    <legend>Eficacia Prevención</legend>
                    <input type="number" id="montoHide" name="eficaciaPrev" required />
                </fieldset>
                <fieldset>
                    <legend>Eficacia Hospitalización</legend>
                    <input type="number" name="eficaciaHosp" required />
                </fieldset>
                <fieldset>
                    <legend>Eficacia CTI</legend>
                    <input type="number" name="eficaciaCti" required />
                </fieldset>
                <fieldset>
                    <legend>Mínima Temperatura (*)</legend>
                    <input type="number" name="minTemp" required />
                </fieldset>
                <fieldset>
                    <legend>Máxima Temperatura (*)</legend>
                    <input type="number" name="maxTemp" required />
                </fieldset>
                <fieldset>
                    <legend>Precio en USD (*)</legend>
                    <input type="number" name="precio" required />
                </fieldset>
                <fieldset>
                    <legend>Fase clínica de aprobación (*)</legend>
                    <input type="number" name="faseClinicaAprob" class="ajustarAnchoInput" min="1" max="4" />
                </fieldset>
                <textarea name="efectosAdversos" rows="15">
                        Los efectos adversos de la Usuario son:
                </textarea>
            </div>
            <div class="divFooter">
                <span>Campos Obligatorios (*)</span>
                <input type="submit" class="botones" value="CREAR">
                <input type="reset" id="limpiar" value="LIMPIAR">
            </div>
        </form>
    </div>
</main>

