
@{
    ViewBag.H1 = "Listar Vacuna";
    ViewBag.Title = "Listar Vacuna";
}
<!DOCTYPE html>
<html lang="es">
    <body>
        <main>
            <small>Dashboard / <em>Lista Vacunas <p style="color:red;">@ViewBag.mensaje</p></em></small>
            <div id="tableEmpleados">
                <table>
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Tipo</th>
                            <th>Cantidad dosis</th>
                            <th>Lapso entre dosis</th>

                            <th>Edad max</th>
                            <th>Edad min</th>
                            <th>Eficacia prevención</th>
                            <th>Eficacia hospitalización</th>
                            <th>Eficacia CTI</th>
                            <th>Temp max</th>
                            <th>Temp in</th>
                            <th>Producción anual</th>
                            <th>Fase clínica de aprob</th>
                            <th>Emergencia</th>
                            <th>Efectos adversos</th>
                            <th>Precio</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                 </table>
            </div>
        </main>
    </body>
</html>
